################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/currencyconverter/v15/Server/sqlite3/db.lock
/.vs/currencyconverter/v15/Server/sqlite3
/currencyconverter/bin/Debug
/Droid/bin/Debug
